.JobCardList {
position: relative;
justify-content: center;
align-items: center;
margin-left:26%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
.JobCardList {
    margin-left: auto;
    }
}
